<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall.order.payment.mapper.PrepaidOrderMapper">

<insert id="savePropertyPayment"  parameterType="com.mall.order.payment.pojo.PropertyPayment">
insert into property_payment(pk_bill,bill_no,area_name,area_code,user_code,room_code,begin_date,end_date,total_money,order_status,order_time,bill_date,bill_type,status_code,status_name,created_time,server_time) values (#{pkBill},#{billNo},#{areaName},#{areaCode},#{userCode},#{roomCode},#{beginDate},#{endDate},#{totalMoney},#{orderStatus},#{orderTime},#{billDate},"1",#{statusCode},#{statusName},#{createdTime},now())

</insert>

<insert id="savePropertyPaymentOption" parameterType="com.mall.order.payment.pojo.PropertyPaymentOption">
insert into property_payment_option(
    pk_charge_item,charge_item,fee_type,n_price,advance_money,discount_money,
  discount,charge_money,nc_pk_std,nc_pk_discount,discount_name,nc_pk_payment
) values(
         #{pkChargeItem},#{chargeItem},#{feeType},#{nPrice},#{advanceMoney},#{discountMoney},
         #{discount},#{chargeMoney},#{ncPkStd},#{ncPkDiscount},#{discountName},#{ncPkPayment}
                                            )
</insert>
    <select id="getAreaByHouse" parameterType="String" resultType="Map">
select area_code,area_name from area_room room where room.room_code = #{roomCode}
</select>
    <select id="getCheckUnpaidOrderUser" parameterType="String" resultType="Map">
        select pk_bill as pkBill from property_payment p where p.user_code = #{userCode}  and p.order_status = "0" and p.del_flag = 0;
    </select>
    <select id="getCheckUnpaidOrderRoom" parameterType="String" resultType="Map">
        select pk_bill as pkBill from property_payment p where p.room_code = #{roomCode}  and p.order_status = "0" and p.del_flag = 0;
    </select>
    <select id="getPropertyPaymentList" parameterType="String" resultType="com.mall.order.payment.pojo.PropertyPayment">
        select area_name as areaName,
               area_code as areaCode,
               total_money as totalMoney,
               bill_no as billNo,
               bill_type as billType,
               status_code as statusCode,
               status_name as  statusName,
               created_time as createdTime,
               server_time as serverTime
        from property_payment p
        where p.user_code = #{userCode}
              <if test="orderStatus != null "> and order_status = #{orderStatus}</if>
              <if test="orderTime != null "> and order_time = #{orderTime}</if> order by created_time

    </select>

</mapper>